.l {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.l-left {
  flex: 1;
  position: absolute;
}

.l-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l-form {
}
